.primary_color{
  color: aqua;  
}

/*
Use BEM system (Block Element Modifier)
*/

.NavBar{
  position: sticky;
  top: 0;
  background-color: grey;
  height: 60px;
  color: white;
}

.MovieSite_Container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.MovieSearchResults_Container{
  background-color: white;
  border: black;
  padding: 8px;
}

/*-------------------
  MovieList
-------------------*/
.MovieList_Container{
  border-style: solid;
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  flex-wrap: wrap;
}

/*-------------------
  MovieCard
-------------------*/
/* .MovieCard_Container{
  border-style: solid;
}

.MovieCard_Poster{

}

.MovieCard_Info{

}

.MovieCard_Button{

} */

/* .MovieSite_Title{
  margin-top: 0;
  text-align: center;
} */

.movie_container_main_body{
  width: 50%;
  border-style: solid;
  background-color: white;
  display: flex;
  padding: 1%;
}

.movie_detail_panel_container{
  display: flex;
  justify-content: center;
}

.movie_detail_panel_title{

}

.movie_image_container{

}

.movie_detail_panel_info{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.movie_attribute_container{
  float: left;
  display: flex;
  flex-direction: row;
}

.movie_attribute{
  border-radius: 4px;
  background: darkgray;
  margin-left: 4px;
  margin-right: 4px;
  padding: 1%;
}
