.primary_color{
  color: aqua;  
}

.movie_list_container{
  border-style: solid;
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  flex-wrap: wrap;
}

.movie_card_container{
  border-style: solid;
}

.movie_poster{

}

.movie_card_info{

}

.movie_card_button{

}

.movie_site_title{
  text-align: center;
}

.movie_container_main_body{
  width: 50%;
  border-style: solid;
  background-color: white;
  display: flex;
  padding: 1%;
}

.movie_detail_panel_container{
  display: flex;
  justify-content: center;
}

.movie_detail_panel_title{

}

.movie_image_container{

}

.movie_detail_panel_info{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.movie_attribute_container{
  float: left;
  display: flex;
  flex-direction: row;
}

.movie_attribute{
  border-radius: 4px;
  background: darkgray;
  margin-left: 4px;
  margin-right: 4px;
  padding: 1%;
}
